
a {
    font-weight: 700;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.container {
    padding: 70px;
}

.title {
    font-weight: bold;
    font-size: 150%;
}